<html>
  <head>
    <meta charset='utf-8' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' type='' />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Enter your text to change into an image</p>
    <textarea type='text' id='name' value='enter text here'></textarea>
    <br />
    <button id='btn'>Submit text</button>

  </body>
</html>